<html ng-app="goalies">
<head>
  <title>Goalies</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
  <script src="/js/controllers/app.js"></script>
  <script src="/js/app.js"></script>
  <script type="text/javascript" src="//use.typekit.net/kkr5pqb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/base.css">
</head>
<body>
  <div class="container" ng-controller="AppCtrl" >

    <div class="pull-right"ng-include src="navigation"></div>
    <div ng-include src="logo"></div>

    <div class="wrapper">
      <div ng-view></div>
    </div>

  </div>
</body>
</html>

