body{
  background: #e4f8f7;
}

.wrapper{
  background: white;
  width: 90%;
  padding: 2%;
  margin: 3% auto;
  border-left: #ff6666 8px solid;
  border-right: #ff6666 8px solid;
}
.main-nav{
  margin: 1% 0;
}
 h1{
    font-family: "mono45-headline", sans-serif;
    color: #4c4c4c
}

a, p, li, td{
  font-family: "lexia",serif;
  font-size: 1.2em;
}

td a{
  font-size: 1em;
}

h2, h3, th{
  font-family: "museo-sans-rounded",sans-serif;
  font-weight: 700;
  color: #4c4c4c
}

h3{
  color: #aaa;
}

th{
  color: #aaa;
  font-size: .8em;
}



input, textarea{
  font-family: "museo-sans-rounded",sans-serif;
  width: 100%;
  color: #aaa;
  border: none;
  margin: .5% 0;
  padding: 1%;
  font-size: 1.3em;
}

.calcs{
  padding: 1%;
}

.editing{
  background: #e4e4e4;
  color: #aaa;
  padding: .5% 2% 1% 2%;
}


.main-nav .nav-pills>li.active>a {
  background: #ff6666;
}


.category-name{
  font-size: .8em;
  color: #4c4c4c;
  font-family: "museo-sans-rounded",sans-serif;
  padding: 0 2%;
}
